
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("ContactUS", "Employee", FormMethod.Post))
        {
            @Html.Label("+++" +
           "")
        }
    </div>
</body>
</html>
